<component name="libraryTable">
  <library name="spring-3-2-18">
    <CLASSES>
      <root url="file://E:/Sourseroom/jar/Spring/spring-3-2-18" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://E:/Sourseroom/jar/Spring/spring-3-2-18" recursive="false" />
  </library>
</component>